<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp - Analytics For /u/<%= shortURL %></title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <header>
    <% include partials/_header %>
    </header>
    <% if (longURL.urlCreator === userAsAnObject.id) { %>
      <h2>Analytics For /u/<%= shortURL %></h2>
      <ul>
         <li><%= longURL.url %> - <%= shortURL %></li>
      </ul>
      <form action="/urls/<%= shortURL %>" method="POST">
      <label for="longURL">Update The URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
      </form>
    <% } else { %>
    <p>
      You are not the original creator of shortened link /u/<%= shortURL %>. You have no access to editing it. Get out of here.
    </p>
    <% } %>
  </body>
</html>